<div class="budget-list">
  <p>{{ expense.purchaseDate }}</p>
  <p>{{ expense.category }}</p>
  <p>{{ expense.amount | currency : "GBP" : "symbol" }}</p>
  <p>{{ expense.description }}</p>
  <a class="edit-expense-link"
    ><button class="edit-expense-btn">Edit</button></a
  >
  <a class="delete-expense-link" href="#"
    ><button class="delete-expense-btn">Delete</button></a
  >
  <!-- <a class = "delete-expense-link" href = /delete/${expense.id}><button class = "delete-expense-btn">Delete</button></a> -->
  <div>
    <input type="checkbox" id="ignore-expense-checkbox" />
  </div>
</div>
